@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", serif;
    padding: 0;
    margin: 0;
    background: #1D1D1D;

}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden
}

.section {
    background-image: url(../assets/Img\ pagina\ principal/the-last-of-us.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.img-icone {
    position: relative;
    top: 10px;
    width: 35px;
    cursor: pointer;
    background-color: transparent;
}

header {
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

.box-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

.box-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

.link-header {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 30px;
    color: white;
    font-weight: 700;
    background: transparent;
}

#inicio {
    text-decoration: underline 3px;
}

#sport {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 29px;
    margin-right: -46px;
    width: 23px;
    cursor: pointer;
    background: transparent;
}

#input-central {
    display: none;
    position: relative;
    top: 80px;
    left: 45px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: 500;
    font-size: 20px;
    outline-style: none;
    width: 90%;
    padding: 19px;
    margin-right: 0px;
    margin-bottom: 2px;
    border-radius: 8px;
    border: none;
    opacity: 1;
    transition: opacity 0.9s ease-in-out, visibility 0.9s ease-in-out;
}

#input-central::placeholder {
    font-weight: 700;
    font-size: 17px;
    color: white;
    opacity: 1;
}

#search {
    width: 30px;
    cursor: pointer;
}

#saved {
    width: 30px;
    cursor: pointer;
}

#perfil {
    cursor: pointer;
}

.info-filme {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 40%;
    top: -195px;
    left: 30px;
    background-color: transparent;
}

#title {
    position: relative;
    bottom: 130px;
    right: 16px;
    width: 390px;
    background: transparent;
    z-index: 1;
}

.classificação {
    display: flex;
    width: 158px;
    align-items: center;
    position: relative;
    bottom: 140px;
    right: 9px;
    gap: 10px;
    background-color: transparent;
}

.jornada {
    position: relative;
    background-color: transparent;
    bottom: 144px;
    right: 5px;
}


#season {
    color: white;
    background: transparent;
}

.uhd {
    color: white;
    background: transparent;
}

.the-last {
    font-weight: 400;
    font-size: 16px;
    width: 366px;
    color: white;
    margin: -190px 25px;
    background: transparent;
}

.button-p {
    font-weight: 700;
    margin-left: 23px;
    margin-top: 206px;
    background: transparent;
    color: white;
    border-radius: 6px;
    width: 140px;
    height: 41px;
    background-color: rgba(96, 100, 123, 0.5);
    border: none;
    cursor: pointer;
}

#trailer {
    background-color: transparent;
}

.button-p:hover {

    opacity: 0.9;
    filter: brightness(1.8);
}

.button-p:active {
    opacity: 0.7;
    filter: brightness(2.0);
}

.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 33vh;
    flex-direction: column;
    left: -32px;
    bottom: 42px;
    margin: 0;
}

#sugestão {
    position: relative;
    width: 70%;
    top: 2px;
    left: 53px;
    background: transparent;
    color: white;
}

#filmes-series {
    position: relative;
    height: 33vh;
    width: 97.7%;
    top: 10px;
    left: 51px;
    display: flex;
    gap: 12px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    overflow: hidden;
    scrollbar-width: none;
}

.filmes-wrapper {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease; /* animação suave */
}

.img-filmes {
    width: 100vw;
    height: auto;       
    max-width: 177px;   /* limite opcional, se quiser */
    display: inline-block;     /* remove espaço extra abaixo da imagem */
    border-radius: 5px; /* opcional, só pra estética */
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.img-filmes:hover {
    border: 2px solid #ffffff;
}

#prev{
    display: flex;
    position: absolute;
    width: 3%;
    height: 27.7vh;
    font-size: 20px;
    align-items: center;
    padding-left: 11px;
    border: none;
    background-color: transparent;
    color: white;
    left: 51px;
    top: 39px; 
    z-index: 99;
}

#next {
    display: flex;
    position: absolute;
    top: 2.3vw;
    left: 97.8vw;
    width: 3%;
    height: 27.7vh;
    font-size: 20px;
    align-items: center;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: white; 
}

@media screen and (max-width: 1280px) {
    #prev{
        display: none;
    }

    #next{
        display: none;
    }

    #filmes-series{
        overflow-x: scroll;
    }

    .img-filmes:hover {
        border: none;
    }

}

@media screen and (max-width: 1024px) {
    header{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .img-icone{
        width: 2rem;
    }

    .box-links{
        font-size: 1.0rem;
    }

    #search{
        width: 2rem;
    }

    #saved{
        width: 2rem;
    }

    #perfil{
        width: 2rem;
    }

    .container{
        height: 18vh;
    }

    #filmes-series{
        width: 96.6%;
    }

    .img-filmes {
        max-width: 133px;
    }
}

@media screen and (max-width: 912px) {
    .container {
        height: 18vh;
    }
}

@media screen and (max-width: 853px) {
    header{
        padding-left: 3%;
    }

    .link-header{
        width: 20%;
    }

    .box-infos{
        position: relative;
        right: 22px;
    }

    .container {
        height: 18.4vh;
    }

}

@media screen and (max-width: 820px) {
    .box-infos{
        position: relative;
        right: 15px;
    }

    .container {
        height: 20vh;
    }
}

@media screen and (max-width: 768px) {

    .box-infos{
        position: relative;
        right: 30px;
    }

    .link-header{
        width: 22%;
    }

    .container {
        height: 23vh;
    }

}

@media screen and (max-width: 540px) {
    header{
        flex-flow: row wrap;
        height: 10%;
        padding: 0;
    }

    .box-links {
        position: relative;
        bottom: 100px;
        right: 6px;
        display: flex;
        order: 1;
    }

    .box-infos{
        left: 40px;
    }

    .img-icone{
        right: 30px;
    }

    .container {
        height: 33vh;
    }
}

@media screen and (max-width: 430px) {

    header{
        flex-flow: row wrap;
        height: 10%;
        padding: 0;
    }

    .box-links {
        position: relative;
        bottom: 100px;
        right: 6px;
        display: flex;
        order: 1;
    }

    .box-infos{
        left: 30px;
    }

    .link-header{
        margin-left: 20px;
    }

    #search {
        width: 24px;
    }

    #saved {
        width: 24px;
    }

    #perfil {
        width: 24px;
    }

    #title{
        width: 370px;
    }

    .container{
        width: 98vw;
        height: 26vh;
        left: -40px;    
    }
}

@media screen and (max-width: 414px) {
    .container{
        width: 98vw;
        height: 27vh;
        left: -40px;
        bottom: 37px;
    }
}

@media screen and (max-width: 412px) {
    .img-icone {
        right: 20px;
    }

    .box-infos{
        left: 22px;
    }

    #sugestão {
        width: 71%;
    }

    .container {
        height: 26vh;
        left: -40px;
        bottom: 37px;
    }
}

@media screen and (max-width: 390px) {

    .container {
        height: 28vh;
    }

    .box-infos {
        position: relative;
        right: 0;
    }

    .box-links {
        position: relative;
        right: 6px;
    }

    #sugestão{
        width: 76vw;
    }

}

@media screen and (max-width: 375px) {

    .container {
        width: 98vw;
        height: 36vh;
        left: -41px;
    }

    .box-links {
        position: relative;
        left: 0;
    }

    .link-header{
        width: 18vw;
        font-size: 13px;
    }
    
    #title{
        width: 20rem;
    }

    .the-last{
        width: 91vw;
    }

    #sugestão{
        width: 76vw;
    }
    
}

@media screen and (max-width: 360px) {
    .img-icone{
        right: 10px;
    }

    .box-infos{
        left: 10px;
    }

    #sugestão {
        width: 79vw;
    }

    .container {
        bottom: 47px;
        height: 32vh;
    }
}

@media screen and (max-width: 344px) {
    .img-icone {
        right: 0px;
    }

    .box-infos{
        left: 6px;
    }

    .box-links {
        position: relative;
        left: -7px;
    }

    #sugestão {
        width: 85%;
    }

    .container {
        width: 98vw;
        height: 26.7vh;
        left: -41px;
        bottom: 44px;
    }

}









