@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {font-family: "Roboto", serif;
   padding: 0;
   margin: 0;
   background: #1D1D1D;
   box-sizing: border-box;
}
body{
    overflow-x: hidden
}

.section{
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;

}

.img-icone{
    width: 35px;
    margin-top: 25px;
    margin-left: -283px;
    margin-right: 300px;
    cursor: pointer;
    background: transparent;
}
header{
    display: flex;
    position: fixed;
    align-items: center;
    gap: 0;
    margin-bottom: 350px;
    margin-left: 320px;
    margin-right: 0;
    background: transparent;
    z-index: 10;
}
.link-header{
    text-decoration: none;
    margin-top: 25px;
    margin-left: 57px;
    color: white;
    font-weight: 700;
    background: transparent;
}

#sport{
    display:flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 29px;
    margin-right: -46px;
    width: 23px;
    cursor: pointer;
    background: transparent;
}

#search{
    width: 30px;
    margin-left: 200px;
    cursor: pointer;
}

#saved{
    width: 30px;
    cursor: pointer;
}

#perfil{
    cursor: pointer;
}

.container-section{
    background: transparent;
    position: relative;
    left: -12px;
    bottom: 85px;
}

#title{
    position: relative;
    top: 450px;
    left: 15px;
    width: 300px;
    background: transparent;
    z-index: 1;
    background: transparent;
}


.info-filme{
    display: flex;
    gap: 20px;
    position: relative;
    top: 390px;
    left: 42px;
    width: 50vh;
    color: white;
    background: transparent;
}

.categoria{
    background: transparent;
}

#assistir{
    position: relative;
    top: 400px;
    left: 37px;
    width: 262px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#resumo{
    position: relative;
    top: 405px;
    left: 37px;
    font-weight: 500;
    width: 469px;
    background: transparent;
    color: white;
}

b {
    background: transparent;
}


#sugestão{
    position: relative;
    top: 5px;
    left: 35px;
    background: transparent;
    color: white;
}

.container{
    position: relative;
    top: 10px;
    left: -12px;
    margin-bottom: 10px;
    background: transparent;
}


#filmes-series{
    position: relative;
    top: 10px;
    left: 35px;
    display: flex;
    gap: 11px;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
}

.img-filmes:hover{
    border-radius: 5px;
    border: 3px solid #ffffff;
    transform: scale(1.1);
}

#venom{
    object-fit: cover
}

#vingadores{
    position: relative;
    left: 22px;
    margin-right: 22px;
}

.nav-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 39px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 250px;
    padding: 10px;
    background: transparent;
}

#prev {
    display: flex;
    top: 39px;
    margin: 0;
    z-index: 11; 
    left: -62px;
    padding: 108px;
    padding-right: 20px;
}

#next {
    display: flex;
    right: 0px;
    margin: 0;
    top: 39px;
    right: -100px;
    padding: 108px;
    padding-left: 18px;
}