@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {font-family: "Roboto", serif;
   padding: 0;
   margin: 0;
   background: #1D1D1D;
   box-sizing: border-box;
}
body{
    overflow-x: hidden
}

.section{
    background-image: url(./assets/sorria-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 102vh;

}

.img-icone{
    width: 35px;
    margin-top: 25px;
    margin-left: -283px;
    margin-right: 300px;
    cursor: pointer;
    background: transparent;
}
header{
    display: flex;
    position: fixed;
    align-items: center;
    gap: 0;
    margin-bottom: 350px;
    margin-left: 320px;
    margin-right: 0;
    background: transparent;
}
.link-header{
    text-decoration: none;
    margin-top: 25px;
    margin-left: 57px;
    color: white;
    font-weight: 700;
    background: transparent;
}

#sport{
    display:flex;
    align-items: center;
    margin-top: 24px;
    margin-left: 29px;
    margin-right: -46px;
    width: 23px;
    cursor: pointer;
    background: transparent;
}


#search{
    width: 30px;
    margin-left: 200px;
    cursor: pointer;
}

#saved{
    width: 30px;
    cursor: pointer;
}

#perfil{
    cursor: pointer;
}

.title-filme{
    background: transparent;
}

#title{
    position: relative;
    top: 380px;
    left: 18px;
    width: 250px;
    background: transparent;
}

.info-filme{
    display: flex;
    gap: 20px;
    position: relative;
    top: 370px;
    left: 30px;
    width: 30vh;
    color: white;
    background: transparent;
}

#tempo-do-filme{
    background: transparent;
}

#ano{
    background: transparent;
}

#assistir{
    position: relative;
    top: 385px;
    left: 27px;
    width: 262px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: white;
    font-size: 18px;
    cursor: pointer;
}

#resumo{
    position: relative;
    top: 391px;
    left: 26px;
    font-weight: 500;
    width: 677px;
    background: transparent;
    color: white;
}

#sugestão{
    position: relative;
    top: 5px;
    margin-bottom: 5px;
    left: 44px;
    background: transparent;
    color: white;
}

.container{
    position: relative;
    left: -20px;
}

#filmes-series{
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
    position: relative;
    top: 10px;
    left: 42px;
    display: flex;
    gap: 11px;
    cursor: pointer;

}

.img-filmes:hover{
    border-radius: 5px;
    border: 3px solid #ffffff;
    transform: scale(1.1);
}

#venom{
    object-fit: cover;
    z-index: 1;
}

#avatar{
    position: relative;
    left: 24px;
    margin-right: 25px;
}


.nav-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 250px;
    margin-top: 10px;
    padding: 10px;
    background: transparent;
}

#prev {
    display: flex;
    z-index: 11; 
    left: -60px;
    padding: 108px;
    padding-right: 24px;
}

#next {
    display: flex;
    top: 34px;
    right: -100px;
    padding: 108px;
    padding-left: 24px;

}
